:root {
    --fondo-principal: #FAFAFA;
    --texto-principal: #2C2C2C;
    --color-accion: #1B4965;
    --color-secundario: #CA6702;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header-container img {
    width: 120px;
    height: 120px;
}

.header-container .text-content {
    margin-left: 20px;
}

.section {
    padding: 5px;
}

.hr-container {
    display: flex;
    justify-content: center;
}

.hr-container hr {
    border: 1px solid var(--color-accion);
}

.footer {
    padding: 10px 0;
    text-align: left;
    background-color: var(--fondo-principal);
}

.footer p {
    margin-bottom: 10px;
}

.footer-buttons {
    display: flex;
    gap: 10px;
}

/* Estilos para botones */
a.btn-primary {
    background-color: var(--color-accion);
    border-color: var(--color-accion);
    color: var(--fondo-principal);
    border-radius: 30px; 
}

a.btn-primary:hover {
    background-color: #0F2D40;
}

a.btn-secondary {
    background-color: var(--fondo-principal);
    border-color: var(--texto-principal);
    color: var(--texto-principal);
    border-radius: 30px;
}

a.btn-secondary:hover {
    background-color: #EAEAEA;
    color: var(--texto-principal)
}

/* Estilos para títulos */
h1, h2, h3, h4, h5, h6 {
    color: var(--color-secundario);
}

/* Ajustes de diseño para secciones */
.section {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    padding: 10px;
}

