:root {
    --fondo-principal: #FAFAFA;
    --texto-principal: #2C2C2C;
    --color-accion: #1B4965;
    --color-secundario: #CA6702;
    --degradado-botones: linear-gradient(45deg, #e8ad83, #91ae5d, #b75f30);
}

/* Fondo dinámico con degradado */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #e8ad83, #91ae5d, #b75f30);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: var(--texto-principal);
    scroll-behavior: smooth;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body header.bg-light {
    background-color: transparent !important;
    padding: 20px 0;
    z-index: 1;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aseguramos que los elementos se distribuyan correctamente */
    flex-wrap: wrap;
    gap: 10px;
}

/* Ajuste solo para la imagen de perfil */
.header-container .profile-img {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.header-container .profile-img:hover {
    transform: scale(1.1);
}

.header-container .text-content {
    flex-grow: 1; /* Esto hará que el texto ocupe el espacio disponible */
    margin-left: 20px;
}

.header-buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 12px;
}

/* Ajuste de secciones */
.section {
    padding: 15px;
    background-color: transparent;
    color: var(--texto-principal);
}

.row {
    margin-top: 15px !important; /* Agrega margen superior entre el título y la fila */
}

/* Estilo para el footer */
.footer {
    background-color: transparent;
    padding: 20px 0;
    margin-bottom: 20px;
}

/* Estilos para botones */
a.btn-primary {
    background-color: var(--color-accion);
    border-color: var(--color-accion);
    color: var(--fondo-principal);
    border-radius: 30px;
}

a.btn-primary:hover {
    background-color: #0F2D40;
    filter: brightness(1.1);
    transform: scale(1.03);
}

a.btn-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--degradado-botones);
    background-size: 400% 400%;
    animation: gradientAnimationBtn 15s ease infinite;
    border-color: var(--texto-principal);
    color: var(--texto-principal);
    border-radius: 30px;
    transition: background-position 0.1s ease;
}

.btn-secondary .icon {
    flex-shrink: 0;
}

.btn-secondary span {
    display: inline-block;
    text-align: center;
}

@keyframes gradientAnimationBtn {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

a.btn-secondary:hover {
    background-position: 100% 50%;
    filter: brightness(1.1);
    transform: scale(1.05);
}

/* Estilos para títulos */
h1, h2, h3, h4, h5, h6 {
    color: var(--color-secundario);
}

/* Estilos para los iconos */
.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.tech-icon {
    width: 32px;  /* Tamaño ajustable según la preferencia */
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Estilo para las listas en la sección de habilidades */
#habilidades ul {
    list-style-type: none;  /* Quitar los puntos de la lista */
    padding-left: 0;  /* Eliminar el margen izquierdo predeterminado de la lista */
}

#habilidades li {
    margin-bottom: 15px;  /* Espacio vertical entre los ítems de la lista */
}

/* Separar los títulos h3 de las listas */
#habilidades h3 {
    margin-bottom: 20px;  /* Ajusta el espacio entre los títulos y las listas */
}

/* Ajustes específicos para los íconos del header */
.header .icon {
    width: 16px;
    height: 16px;
}

/* Asegurar que los iconos tengan el mismo color que el texto del botón */
a.btn-primary .icon {
    filter: invert(100%);
}
